@use "tailwindcss";
@use "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

body {
  font-family: sans-serif;
  @apply bg-gray-50;
}


.icon-card {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .icon-card-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    svg {
      width: 24px;
      height: 24px;
      fill: #393939;
    }
  }
  .icon-card-title {
    margin-top: 8px;
    color: #393939;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
